<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>padiApp Edit User</title>

		<meta name="description" content="3 styles with inline editable feature" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->

		<link href="/assets/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/ace/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/assets/ace/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/assets/ace/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!--page specific plugin styles-->

		<link rel="stylesheet" href="/assets/ace/assets/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="/assets/ace/assets/css/jquery.gritter.css" />
		<link rel="stylesheet" href="/assets/ace/assets/css/select2.css" />
		<link rel="stylesheet" href="/assets/ace/assets/css/bootstrap-editable.css" />

		<!--fonts-->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!--ace styles-->

		<link rel="stylesheet" href="/assets/ace/assets/css/ace.min.css" />
		<link rel="stylesheet" href="/assets/ace/assets/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="/assets/ace/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/assets/ace/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!--inline styles related to this page-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">
						<small>
							<i class="icon-leaf"></i>
							padiApp
						</small>
					</a><!--/.brand-->

					<ul class="nav ace-nav pull-right">
						{{ include("commons/topmenu-grey.twig") }}
						{{ include("commons/topmenu-purple.twig") }}
						{{ include("commons/topmenu-green.twig") }}
						{{ include("commons/topmenu-blue.twig") }}
					</ul><!--/.ace-nav-->
				</div><!--/.container-fluid-->
			</div><!--/.navbar-inner-->
		</div>

		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>
			<div class="sidebar" id="sidebar">
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					{{ include('/commons/sidebar-shortcut-large.twig', { 'article': article }) }}
					{{ include('/commons/sidebar-shortcut-mini.twig', { 'article': article }) }}
				</div><!--#sidebar-shortcuts-->
				{{ include('/commons/menu.twig', { 'article': article }) }}
				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="/">Home</a>

							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>

						<li>
							<a href="/users">Users</a>
							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>
						<li class="active">Edit</li>
					</ul><!--.breadcrumb-->
					<div class="nav-search" id="nav-search">
						<form class="form-search" />
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!--#nav-search-->
				</div>
				<div class="page-content">
					<div class="page-header position-relative">
						<h1>
							Profile {{ user.username|title }}
							<small>
								<i class="icon-double-angle-right"></i>
								Edit
							</small>
						</h1>
					</div><!--/.page-header-->
					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->
							<div class="clearfix">
								<div class="pull-right">
									<a href="#" class="btn btn-small btn-primary">
										<i class="icon-save bigger-150 middle"></i>
										Update
									</a>
								</div>
							</div>
							<div class="hr dotted"></div>
							<div>
								<div id="user-profile-1" class="user-profile row-fluid">
									<div class="span3 center">
										<div>
											<span class="profile-picture">
												<img id="avatar" class="editable" alt="Alex's Avatar" src={{ user.pic }} />
											</span>
											<div class="space-4"></div>
											<div class="width-90 label label-info label-large">
												<div class="inline position-relative">
													<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
														<span class="white middle bigger-120">{{ user.username|upper }}</span>
													</a>
												</div>
											</div>
										</div>
										<div class="space-6"></div>
									</div>
									<div class="span9">
										<div class="profile-user-info profile-user-info-striped">
											<div class="profile-info-row">
												<div class="profile-info-name"> Username </div>
												<div class="profile-info-value">
													<span class="editable" id="username">{{ user.username }}</span>
												</div>
											</div>
											<div class="profile-info-row">
												<div class="profile-info-name"> Email </div>

												<div class="profile-info-value">
													<i class="icon-mail light-orange bigger-110"></i>
													<span class="editable" id="country">{{ user.email }}</span>
												</div>
											</div>
											<div class="profile-info-row">
												<div class="profile-info-name">Group(s)</div>
												<div class="profile-info-value">
														<i class="icon-mail light-orange bigger-110"></i>
														{% for group in groups %}
														<span class="editable" id="country">{{ group.name }}</span>
														{% endfor %}
													</div>
												</div>
											</div>
										<div class="space-20"></div>
										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h4 class="blue smaller">
													<i class="icon-list blue"></i>
													Menu
												</h4>
											</div>
											<div class="widget-body">
												<div class="widget-main padding-8">
													<div id="profile-feed-1" class="profile-feed">
														<div class="profile-activity clearfix">
															<div>
																<i class="pull-left thumbicon icon-key btn-info no-hover"></i>
																<a class="user" href="#">Ganti Password </a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="hr hr2 hr-double"></div>
										<div class="space-6"></div>
									</div>
								</div>
							</div>
							<!--PAGE CONTENT ENDS-->
						</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->
				{{ include("commons/setting-container.twig") }}
				</div><!--/.main-content-->
		</div><!--/.main-container-->
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
		{{ include("admin/users/profilejs.twig") }}
	</body>
</html>
