<!DOCTYPE html>
<html lang="en">
	{{ include("ts/tickets/head.twig") }}
	<link rel="stylesheet" href="/assets/fontawesome/free-5.0.6/css/fa-brands.min.css" />
	<link rel="stylesheet" href="/assets/fontawesome/free-5.0.6/css/fa-regular.min.css" />
	<link rel="stylesheet" href="/assets/fontawesome/free-5.0.6/css/fa-solid.min.css" />
	<link rel="stylesheet" href="/assets/fontawesome/free-5.0.6/css/fontawesome-all.min.css" />
	<link rel="stylesheet" href="/assets/fontawesome/free-5.0.6/css/fontawesome.min.css" />
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">
						<small>
							<i class="fas fa-paw"></i>
							Tickets
						</small>
					</a><!--/.brand-->
					<ul class="nav ace-nav pull-right">
						{{ include("commons/topmenu-grey.twig") }}
						{{ include("commons/topmenu-purple.twig") }}
						{{ include("commons/topmenu-green.twig") }}
						{{ include("commons/topmenu-blue.twig") }}
					</ul><!--/.ace-nav-->
				</div><!--/.container-fluid-->
			</div><!--/.navbar-inner-->
		</div>
		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>
			<div class="sidebar" id="sidebar">
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					{{ include('/commons/sidebar-shortcut-large.twig', { 'article': article }) }}
					{{ include('/commons/sidebar-shortcut-mini.twig', { 'article': article }) }}
				</div><!--#sidebar-shortcuts-->

				{{ include('/commons/menu.twig', { 'article': article }) }}
				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="/">Home</a>
							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>
						<li class="active">Tickets</li>
					</ul><!--.breadcrumb-->
					<div class="nav-search" id="nav-search">
						<form class="form-search" />
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!--#nav-search-->
				</div>
				<div class="page-content">
					<div class="page-header position-relative">
						<h1>
							Daftar Ticket
						</h1>
					</div><!--/.page-header-->
					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->
							<div class="row-fluid">
								<div class="table-header">
									Tickets ({{ totalrows }})
									<div class="pull-right">
											<a href="#modal-add-ticket" data-toggle="modal" class="btn btn-app btn-success btn-mini">
													<i class="icon-plus smaller-160"></i>
													Tambah
												</a>
											 &nbsp;
									</div>
								</div>
								<table id="sample-table-2" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Nama</th>
											<th>Alamat</th>
											<th class="hidden-480">Tgl Ticket</th>
											<th class="hidden-phone">
												<i class="icon-time bigger-110 hidden-phone"></i>
												PIC
											</th>
											<th class="hidden-480">Status</th>

											<th>Aksi</th>
										</tr>
									</thead>
									<tbody>
										{% for obj in objs %}
										<tr>
											<td>
												<a href="#">{{ obj.clientname }}</a>
											</td>
											<td>{{ obj.location }}</td>
											<td class="hidden-480">{{ obj.create_date }}</td>
											<td class="hidden-phone">{{ obj.reporter }}</td>
											<td class="center hidden-480">
												<span class="label label-warning">{{ obj.status }}</span>
											</td>
											<td class="td-actions">
												<div class="btn-group">
													<button data-toggle="dropdown" class="btn btn-inverse btn-mini dropdown-toggle">
														Aksi
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu dropdown-inverse">
														<li>
															<a href="/tickets/edit">Edit</a>
														</li>
														<li>
															<a href="/tickets/installadd">Ajukan Install</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="/tickets/report">Lihat Laporan</a>
														</li>
													</ul>
												</div><!--/btn-group-->
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							{{ links|raw }}
							{{ include('ts/tickets/modal.twig', { 'article': article }) }}
							<!--PAGE CONTENT ENDS-->
						</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->
				{{ include("commons/setting-container.twig") }}
			</div><!--/.main-content-->
		</div><!--/.main-container-->
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
		{{ include("ts/tickets/js.twig") }}
	</body>
</html>
